<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>CLI</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://classless.de/classless.css" /> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <header>
        <nav>
          <ul>
            <li>CLI UI</li>
            <li><a href="#">Item </a></li>
            <li>
              <a href="#">commands ▾</a>
              <ul>
                <li v-for="cmd in commands" :key="cmd.name"><a href="#" @click.prevent="goto(cmd.name)">{{ cmd.name }}</a></li>
              </ul>
            </li>
            <li class="float-right">documentation</li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="row">
          <div class="col">
            <div v-for="cmd in commands" :key="cmd.name">
              <h2 v-bind:id="cmd.name">{{ cmd.name }}</h2>
              <p>{{ cmd.short }}</p>
              <p>{{ cmd.long }}</p>
              <pre v-if="cmd.example">
                <code>{{ cmd.example }}</code>
              </pre>
              <div v-if="cmd.flags.length > 0">
                <h3>Flags</h3>
                <div v-for="opt in cmd.flags" :key="opt.name">
                  <label for="in_text">{{ opt.name }}
                    <small>{{ opt.description }}</small>
                  </label>
                  <input type="text" :value="opt.value" />          
                </div>
              </div>
              <div>
                <pre>
                  <code>{{ commandBuild(cmd) }}</code>
                </pre>
              </div>
              <div>
                <button type="button">copy</button>
                <button type="button">+ workflow</button>
                <button type="button">execute</button>
              </div>

              <hr />
            </div>
            
          </div>
          <div class="col-2">
            <p>sidebar</p>
          </div>
        </div>
      </main>

      <footer>&copy; 2021 buzzuti</footer>
    </div>
    <script type="application/javascript">
      var app = new Vue({
        el: "#app",
        methods: {
          goto(refName) {
            const el = document.getElementById(refName);
            el && el .scrollIntoView({ behavior: 'smooth' });
          }
        },
        computed: {
          commandBuild(command) {
            console.log(command);
            return `./cli ${command.name} ${command.flags
              .map(function(f) {
                return !f.value ? "" : "--" + f.name + " '" + f.value + '"';
              })
              .join(" ")}`;           
          }
        },
        data() {
          return {
            message: "Hello Vue!",
            commands: [
              {
                name: "cmd-one",
                short: "short description one",
                long: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                example: "",
                flags: [
                  {
                    name: "flag 1",
                    description: "use wisely",
                    value: ""
                  },
                  {
                    name: "flag 2",
                    description: "use real wisely",
                    value: ""
                  }
                ]
              },
              {
                name: "cmd-two",
                short: "short description two",
                long: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                example: "web go",
                flags: [
                  {
                    name: "flag 1",
                    description: "use wisely",
                    value: ""
                  },
                  {
                    name: "flag 2",
                    description: "use real wisely",
                    value: ""
                  }
                ]
              },
              {
                name: "cmd-three",
                short: "short description three",
                long: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.",
                example: "web go",
                flags: [
                  {
                    name: "flag 1",
                    description: "use wisely",
                    value: ""
                  },
                  {
                    name: "flag 2",
                    description: "use real wisely",
                    value: ""
                  }
                ]
              }
            ]
          };
        }
      });
    </script>
  </body>
</html>
