<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>CLI</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Styles-->
    <link rel="stylesheet" href="https://classless.de/classless.css" />
    <!-- vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Tostify -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
  </head>

  <body>
    <div id="app">
      <header>
        <nav>
          <ul>
            <li>{{ assembly }}</li>
            <li>
              <a href="#">commands ▾</a>
              <ul>
                <li v-for="cmd in commands" :key="cmd.name">
                  <a href="#" @click.prevent="goto(cmd.name)">{{ cmd.name }}</a>
                </li>
              </ul>
            </li>
            <li class="float-right">documentation</li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="row">
          <div class="col">
            <div v-for="cmd in commands" :key="cmd.name">
              <h2 v-bind:id="cmd.name">{{ cmd.name }}</h2>
              <p>{{ cmd.short }}</p>
              <p>{{ cmd.long }}</p>
              <pre v-if="cmd.example">
                <code>{{ cmd.example }}</code>
              </pre>
              <div v-if="cmd.options && cmd.options.length > 0">
                <h3>Options</h3>
                <div v-for="opt in cmd.options" :key="opt.name">
                  <label for="in_text"
                    >{{ opt.name }}
                    <small>({{ opt.type }}) {{ opt.description }}</small>
                  </label>
                  <input type="text" v-model="opt.value" />
                </div>
              </div>
              <div>
                <pre>
                  <code>{{ commandBuild(cmd) }}</code>
                </pre>
              </div>
              <div>
                <button
                  type="button"
                  v-on:click="copyCommand(commandBuild(cmd))"
                >
                  copy
                </button>
                <button
                  type="button"
                  v-on:click="addToWorkflow(commandBuild(cmd))"
                >
                  + workflow
                </button>
                <button type="button">execute</button>
              </div>
              <hr />
            </div>
          </div>
          <div class="col-2">
            <p>sidebar</p>
          </div>
        </div>
      </main>

      <footer>&copy; 2021 buzzuti</footer>
    </div>
    <script type="application/javascript">
      var app = new Vue({
        el: "#app",
        methods: {
          goto(refName) {
            const el = document.getElementById(refName);
            el && el.scrollIntoView({ behavior: "smooth" });
          },
          copyCommand(cmd) {
            if (window.clipboardData && window.clipboardData.setData) {
              // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
              this.toast("copied to clipboard!");
              return window.clipboardData.setData("Text", text);
            } else if (
              document.queryCommandSupported &&
              document.queryCommandSupported("copy")
            ) {
              var textarea = document.createElement("textarea");
              textarea.textContent = cmd;
              textarea.style.position = "fixed"; // Prevent scrolling to bottom of page in Microsoft Edge.
              document.body.appendChild(textarea);
              textarea.select();
              try {
                return document.execCommand("copy"); // Security exception may be thrown by some browsers.
              } catch (ex) {
                console.warn("Copy to clipboard failed.", ex);
                return false;
              } finally {
                document.body.removeChild(textarea);
                this.toast("copied to clipboard!");
              }
            }
          },
          addToWorkflow(cmd) {
            console.log(cmd);
          },
          commandBuild(cmd) {
            return `./${this.assembly} ${cmd.name} ${cmd.options
              .map(function (f) {
                return !f.value || f.value == ""
                  ? ""
                  : "--" + f.name + ' "' + f.value + '"';
              })
              .join(" ")}`;
          },
          toast(text) {
            Toastify({
              text: text,
              duration: 3000
            }).showToast();
          },
          async load() {
            fetch(`http://localhost:8080/commands`)
              .then(response => response.json())
              .then(json => {
                console.log(json);
                this.assembly = json.AssemblyName;
                this.commands = json.Commands;
            });
          }
        },
        created() {
          this.load();
        },
        data() {
          return {
            assembly: "cli",
            commands: []
          };
        }
      });
    </script>
  </body>
</html>
